* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background: url("pictures/01bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.bg{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    background-color: rgba(0, 0, 0, 0.8);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

#bgPos {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.main {
    height: 600px;
    width: 400px;
    border: 10px solid rgb(255, 255, 255);
    border-radius: 25px;
    position: relative;
    overflow: hidden;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;

}

.box {
    /* background-color: rgba(145, 133, 133, 0.353); */
    height: 100%;
    width: 100%;
    position: absolute;

}

button {
    height: 50px;
    width: 50px;
    background: rgb(255, 255, 255);
    border-radius: 25px;
}

.upper {
    z-index: 100;
}

.bgc1 {
    background: url(pictures/01bg.jpeg);

}

.bgc2 {
    background: url(pictures/02bg.jpeg);
}

.bgc3 {
    background: url(pictures/03bg.jpeg);
}

.bgc4 {
    background: url(pictures/04bg.jpeg);
}

.bgc5 {
    background: url(pictures/05bg.jpeg);
}

.bgc6 {
    background: url(pictures/06bg.jpeg);
}

.bgc7 {
    background: url(pictures/07bg.jpeg);
}

@media (max-width:700px) and (max-height:750px){
    .main{
        height:300px;
        width: 200px;
        border: 5px solid white;
    }
    button{
        height: 25px;
        width: 25px;
        border-radius: 13px;
    }
    .bg{
        gap: 20px;
        background-color: rgba(0, 0, 0, 0.5);
    }
      .main:hover{
    height: 725px;
    width: 250px;
}
}
